/* max width 991px  */
@media screen and (max-width:991px){    
    h3 {
        font-size: 1.2rem;
    }
    
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .main-nav {
        overflow: initial;
    }
    .nav-links{ 
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }
        
    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }



    .examples-area{
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section {
        padding-block: 80px;
    }
}


@media screen and (max-width: 767px) {

    h1{
        font-size: 2.6rem;
    }
    p{
        font-size: 1.10rem;
    }

    .primary-button {
        width: 100%;
        font-size: 1rem;
    }
    .header-section {
        flex-direction: column-reverse;
    }
    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .header-right img{    
    display: block;
    margin: 0px auto;
    width: 80%; 
    }
    .small-bold-text{
        font-size: 0.9rem;
        font-weight: 700;
    }
    .features-card {
        min-width: calc(50% - 10px);
    }
    
    .big-feature-container, #second-big-feature {
        flex-direction: column;
    }
    .feature-img img {
        display: block;
        margin-inline: auto;   
        width: 70%;
    }    

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column {
        align-items: stretch;
    }   
    .subfooter{
        font-size: 0.8rem;
    }
}

/*  479px*/

@media screen and (max-width: 479px) {
    
    :root {
        --padding-inline-section: 13px;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }
    .primary-button {
        font-size: 0.9rem;
    }
    .logo{
        height: 22px;
    }
    .small-bold-text{
        font-size: 0.8rem;
        font-weight: 700;
    }
    .features-area{
        gap: 40px;
        margin-bottom: 20px;
    }
    .features-card {
        min-width: 100%;
        gap: 10px;
    }

    .feature-desc{
     gap: 5px;
    }
    
    .examples-card {
        width: 100%;
    }
}